*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  font-family: Helvetica,"Times New Roman", Times, serif, sans-serif;
  display: block;
}

.container {
  margin: auto;
}

/* MODERN LUXERY TRAVEL */
.container > h1 {
  background-color: #dadada;
  font-family: Helvetica;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  margin: 2em auto;
  letter-spacing: .2em;
}

/* City titles */
.preview {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25em;
  padding: 2em 0 0 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.preview h1 {
  font-family: serif;
  font-size: 2em;
  text-align: left;
  margin: 0;
  padding: .3em 0 0 .3em;
}

/* Pictures */
.baku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
}

.london {
  background-image: url(../images/london.png);
  background-size: cover;
}

.madrid {
  background-image: url(../images/Madrid.jpg);
  background-size: cover;
}

.rome {
  background-image: url(../images/Rome.jpg);
  background-size: cover;
}

div {
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 2em 2em;
  height: 300px;
}

@media screen and (min-width: 575px) {
   .preview {
     margin: 1%;
     width: 45%;
  }
}

  @media screen and (min-width: 991px) {
     .preview {
       margin: 1%;
       width: 22%;
    }
  }
